{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if product %}
        {{ product.desc |truncatewords:155 }}
    {% endif %}
{% endblock %}
{% block title %}
    {{product.name}}-Shop Cart
{% endblock %}
{% block content %}
    <div class="row my_prod_row">
        <div class="mx-auto">
            <p><a href="{% url 'ecommerce_app:allProdCart' %}">Home</a> |<a href="{{product.category.get_url}}">{{product.name}}</a> </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <div style="min-width:18rem;">
                        <img src="{{product.image.url}}" style="width:300px;height:350px" alt="{{product.name}}">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <h2 class="my_prod_title">{{product.name}}</h2>
                        <p>₹{{product.price}}</p>
                        <p class="my_title2">Product Description</p>
                        <p class="text-justify my_prod_desc">{{product.desc}}</p>
                        {% if product.stock <= 0 %}
                            <p class="text-justify my_prod_desc"><b>Out of Stock</b></p>
                        {% else %}
                            <a class="btn btn-secondary" href="{% url 'cart:add_cart' product.id %}">Add to Cart</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}