{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    Login to your account
{% endblock %}
{% block title %}
    Cart - Your Items
{% endblock %}
{% block content %}
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <form action="register" method="post">
            {% csrf_token %}
            <div class="form-group mx-sm-3 mb-2 col-md-6">
                <input type="text" class="form-control" name="username" placeholder="username"><br>
                <input type="text" class="form-control" name="first name" placeholder="first name"><br>
                <input type="text" class="form-control" name="last name" placeholder="last name"><br>
                <input type="email" class="form-control" name="email" placeholder="email"><br>
                <input type="password" class="form-control" name="password1" placeholder="password"><br>
                <input type="password" class="form-control" name="password2" placeholder="password"><br>
                <input class="btn btn-primary" type="submit" value="register">
            </div>
        </form>
    </div>
</div>
<div>
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
</div>
{% endblock %}